node_modules

# package lock
package-lock.json
.idea/.gitignore
.idea/events-api.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/launch.json
.env
.idea
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
